.sidebar {
  background-color: #333;
  padding: 20px;
  width: 200px;
  height: 100vh;
}

.sidebar h2 {
  color: #00ffcc;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #ffcc00;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #ff00cc;
}
